APIInteface_Client/APIInteface_Client/ns.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://tempuri.org/ns.xsd/Service.wsdl"
 xmlns:tns="http://tempuri.org/ns.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="http://tempuri.org/ns.xsd"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://tempuri.org/ns.xsd"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="http://tempuri.org/ns.xsd"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <!-- operation request element -->
  <element name="startModel">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="startModelResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__startModel::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="endModel">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="endModelResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__endModel::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="startBd">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="startBdResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__startBd::result -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="endBd">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="endBdResponse">
   <complexType>
    <sequence>
     <element name="result" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__endBd::result -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="startModelRequest">
 <part name="Body" element="ns:startModel"/><!-- ns__startModel::ns__startModel -->
</message>

<message name="startModelResponse">
 <part name="Body" element="ns:startModelResponse"/>
</message>

<message name="endModelRequest">
 <part name="Body" element="ns:endModel"/><!-- ns__endModel::ns__endModel -->
</message>

<message name="endModelResponse">
 <part name="Body" element="ns:endModelResponse"/>
</message>

<message name="startBdRequest">
 <part name="Body" element="ns:startBd"/><!-- ns__startBd::ns__startBd -->
</message>

<message name="startBdResponse">
 <part name="Body" element="ns:startBdResponse"/>
</message>

<message name="endBdRequest">
 <part name="Body" element="ns:endBd"/><!-- ns__endBd::ns__endBd -->
</message>

<message name="endBdResponse">
 <part name="Body" element="ns:endBdResponse"/>
</message>

<portType name="ServicePortType">
 <operation name="startModel">
  <documentation>Service definition of function ns__startModel</documentation>
  <input message="tns:startModelRequest"/>
  <output message="tns:startModelResponse"/>
 </operation>
 <operation name="endModel">
  <documentation>Service definition of function ns__endModel</documentation>
  <input message="tns:endModelRequest"/>
  <output message="tns:endModelResponse"/>
 </operation>
 <operation name="startBd">
  <documentation>Service definition of function ns__startBd</documentation>
  <input message="tns:startBdRequest"/>
  <output message="tns:startBdResponse"/>
 </operation>
 <operation name="endBd">
  <documentation>Service definition of function ns__endBd</documentation>
  <input message="tns:endBdRequest"/>
  <output message="tns:endBdResponse"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="startModel">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="endModel">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="startBd">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
 <operation name="endBd">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.8.22 generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>
